{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MongoDB Visualization Report App</title>

    <!-- CSS goes here -->
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/milligram.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">


    <!-- JQuery and Chartjs plugin along with custom js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/display-chart.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column column-80 column-offset-10" style="margin-top: 50px;">
                <h4>MongoDB Visualization Report App</h4>
                <input type="hidden" id="custom_minute" value="{{ minute }}">
            </div>
        </div>
        <div class="row">
            <div class="column" style="margin-top: 30px;">
                <div class="row">
                    <div class="column column-40">
                        <h6>Here's the distribution of the data from logs with {{ minute }} minute(s) interval.</h6>
                        <hr/>
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Success</th>
                                    <th>Error</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key,value in data.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value.success }}</td>
                                    <td>{{ value.error }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="column column-60">
                        <canvas id="myChart" height="300" style="height: 400px !important;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>